<tr>
  <td>
    <%= campaign.name %>
  </td>
  <td>
    <%= campaign.description %>
  </td>
  <td>
    <%= image_tag CharityService.get_campaign_image_url(campaign.id), :size => "32x40" %>
  </td>
  <td>
    <%= campaign.charity_hash[:orgName] %>
  </td>
  <td>
    <%= campaign.charity_hash[:description] %>
  </td>
  <td>
    <%= image_tag CharityService.get_charity_image_url(campaign.charity_id), :size => "32x40"%>
  </td>

  <td>
    <%= link_to("Select", append_query_string(@selection_url,"campaign_id",campaign.id)) if @selection_url %>
</tr>

